@import "/src/assets/styles/colors";

.wrapperClassname {
  width: 700px;
  border: 1px solid $gray-5;
  border-radius: 2px;
  transition: all 0.3s;
  background: $gray-1;

  &.onFocus {
    border-color: $blue-5;
    border-right-width: 1px;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 142, 252, 0.2);
  }

  &:hover {
    border-color: $blue-5;
  }
}

.editorClassname {
  padding-left: 10px;
  min-height: 180px;
}

.toolbarClassname {
  background: $geekblue-3;
}